/0.3.6.tar.gz
/0.3.7.tar.gz
/0.3.8.tar.gz
/0.3.9.tar.gz
/0.3.10.tar.gz
/0.3.11.tar.gz
/0.4.0.tar.gz
/simplescreenrecorder-0.4.0.tar.gz
/simplescreenrecorder-0.4.1.tar.gz
/simplescreenrecorder-0.4.2.tar.gz
/simplescreenrecorder-0.4.3.tar.gz
